:root {
  --bg-dark: #111111;
  --bg-yellow: #FCDA28;
  --orange: #FCB500; 

  --color-text-bl: #000000;
  --color-text-white: #ffffff;
}
/* fonts */


header {
  background-color: var(--bg-dark);
}

.section-offset {
  padding: 50px 0;
}

/* nav */

.menu__link,
.nav-basket__link {
  color: var(--color-text-white);
}
.menu__link:hover {
  color: var(--orange);
}

.basket__link {
  position: relative;
}

.basket__counter {
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;

  display: -ms-flexbox;
  -ms-flex-align: center;
  -ms-flex-pack: center;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 16px;
  height: 16px;
  border-radius: 50%;

  position: absolute;
  top: 20px;
  left: 20px;

  background-color: var(--orange);
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
}

.nav__btn {
  background-color: var(--color-text-white);
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear;
}

.nav__btn:active {
  background-color: var(--orange);
}

/* immunity */

.immunity {
  background-color: var(--bg-yellow);
  /* background-image: url(/img/Mask\ Group.png);
  background-repeat: no-repeat;
  background-position: 90% 50%;
  background-size: 35%; */
}

.immunity__title {
  font-style: normal;
  font-weight: 700;
  font-size: calc(1em + 6vw);
  color: white;
  text-transform: uppercase;
  /* line-height: 4rem; */
}

.immunity__descr {
  color: var(--color-text-bl);
  font-style: normal;
  font-weight: 400;
  font-size: calc(0.3rem + 1vw);
  line-height: calc(0.3rem + 1vw);
}

.immunity__title-small {
  color: var(--color-text-bl);
  font-weight: 700;
  font-size: calc(0.5rem + 1vw);
  line-height: calc(0.5rem + 1vw);
  text-transform: uppercase;
}

.immunity__descr-small {
  color: var(--color-text-bl);
  font-weight: 400;
  font-size: calc(0.2rem + .8vw);
  line-height: calc(0.2rem + .8vw);
}

/* .immunity__list {
  position: sticky; 
} */

.container-relative {
  position: relative;
}

.b-img {
  position: absolute;
}

/* buy */

.buy {
  background-color: var(--bg-dark);
}

.buy__title {
  font-style: normal;
  font-weight: 700;
  font-size: calc(1em + 1vw);
  color: white;
  text-transform: uppercase;
}

.title-orange {
  color: var(--orange);
}

.price-descr {
  font-weight: 400;
  font-size: calc(1rem + 1vw);
  line-height: calc(1rem + 1vw);
  color: var(--color-text-white);
}

.price-descr-through{
  text-decoration: line-through;
  color: #ADADAD;
  font-size: calc(.8rem + 1vw);
}

.item__descr{
  font-weight: 400;
  font-size: calc(0.8rem + 0.5vw);
  line-height: calc(0.8rem + 0.5vw);
  color: white;
}

.item__descr-small {
    font-size: calc(0.5rem + 0.5vw);
}

.item__span {
  color: var(--orange);
}

.item__img-small {
  max-width: 40%;
}

.buy__btn {
  background-color: var(--orange);
  color: var(--color-text-bl);
  border-radius: 7px;
}

/* .immunity__item {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 20%;
} */