:root {
  --bg-dark: #111111;
  --bg-yellow: #FCDA28;
  --orange: #FCB500; 

  --color-text-bl: #000000;
  --color-text-white: #ffffff;
}

header {
  background-color: var(--bg-dark);
}


/* nav */

.nav-list__link,
.nav-basket__link {
  color: var(--color-text-white);
}

.nav-list__link:hover {
  color: var(--orange);
}

.nav-basket__link {
  position: relative;
}

.nav-basket__counter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 50%;

  position: absolute;
  top: 20px;
  left: 20px;

  background-color: var(--orange);
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
}

.nav__btn {
  background-color: var(--color-text-white);
  transition: all .1s linear;
}

.nav__btn:active {
  background-color: var(--orange);
}
/* .d-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
} */