@font-face {
  font-family: 'Rubik';
  src: local('Rubik Bold'), local('Rubik-Bold'),
      url('/font/Rubik-Bold.woff') format('woff')
      url('/font/Rubik-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('Rubik-Medium.eot');
  src: local('Rubik Medium'), local('Rubik-Medium'),
      url('/font/Rubik-Medium.woff') format('woff')
      url('/font/Rubik-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('Rubik-Italic.eot');
  src: local('Rubik Italic'), local('Rubik-Italic'),
      url('/font/Rubik-Italic.woff') format('woff')
      url('/font/Rubik-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

body {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
}